In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/zomato.csv')

In [ ]:
df.head()

                                                 url  ... listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...    Banashankari
1  https://www.zomato.com/bangalore/spice-elephan...  ...    Banashankari
2  https://www.zomato.com/SanchurroBangalore?cont...  ...    Banashankari
3  https://www.zomato.com/bangalore/addhuri-udupi...  ...    Banashankari
4  https://www.zomato.com/bangalore/grand-village...  ...    Banashankari

[5 rows x 17 columns]

In [ ]:
df.shape

(51717, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [ ]:
df.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [ ]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [ ]:
df.drop(['url','dish_liked','phone'], axis=1,inplace=True)

In [ ]:
df.shape

(51717, 14)

In [ ]:
df.duplicated().sum()

43

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.isnull().sum()

address                           0
name                              0
online_order                      0
book_table                        0
rate                           7767
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     345
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(43499, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43499 entries, 0 to 51716
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      43499 non-null  object
 1   name                         43499 non-null  object
 2   online_order                 43499 non-null  object
 3   book_table                   43499 non-null  object
 4   rate                         43499 non-null  object
 5   votes                        43499 non-null  int64
 6   location                     43499 non-null  object
 7   rest_type                    43499 non-null  object
 8   cuisines                     43499 non-null  object
 9   approx_cost(for two people)  43499 non-null  object
 10  reviews_list                 43499 non-null  object
 11  menu_item                    43499 non-null  object
 12  listed_in(type)              43499 non-null  object
 13  listed_in(city)              43499 non-null  object
dtypes: int64(1), object(13)
memory usage: 5.0+ MB

In [ ]:
df.rename(columns={"approx_cost(for two people)": "cost", "listed_in(type)": "type","listed_in(city)":"city"},inplace=True)

In [ ]:
df.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'cost', 'reviews_list',
       'menu_item', 'type', 'city'],
      dtype='object')

In [ ]:
df.cost[51715]

'2,500'

In [ ]:
df.cost=df.cost.apply(lambda x: x.replace(',',''))

In [ ]:
df.cost[51715]

'2500'

In [ ]:
df.cost=df.cost.astype('float')

In [ ]:
df.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [ ]:
df=df[df.rate!='NEW']
df=df[df.rate!='-'].reset_index(drop=True)
df.rate=df.rate.apply(lambda x: x.replace('/5',''))
df.rate=df.rate.str.strip().astype('float')
df.rate.unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [ ]:
df.name = df.name.apply(lambda x:x.title())
df.online_order.replace(('Yes','No'),(True, False),inplace=True)
df.book_table.replace(('Yes','No'),(True, False),inplace=True)

In [ ]:
df.head()

                                             address  ...          city
0  942, 21st Main Road, 2nd Stage, Banashankari, ...  ...  Banashankari
1  2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...  ...  Banashankari
2  1112, Next to KIMS Medical College, 17th Cross...  ...  Banashankari
3  1st Floor, Annakuteera, 3rd Stage, Banashankar...  ...  Banashankari
4  10, 3rd Floor, Lakshmi Associates, Gandhi Baza...  ...  Banashankari

[5 rows x 14 columns]

In [ ]:
df['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
41232    3.7
41233    2.5
41234    3.6
41235    4.3
41236    3.4
Name: rate, Length: 41237, dtype: float64

In [ ]:
restaurents=list(df.name.unique())
df['Mean Rating']=0

In [ ]:
for i in range(len(restaurents)):
    df['Mean Rating'][df['name']==restaurents[i]]=df['rate'][df['name']==restaurents[i]].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

                                             address  ... Mean Rating
0  942, 21st Main Road, 2nd Stage, Banashankari, ...  ...    4.118182
1  2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...  ...    4.100000
2  1112, Next to KIMS Medical College, 17th Cross...  ...    3.800000
3  1st Floor, Annakuteera, 3rd Stage, Banashankar...  ...    3.700000
4  10, 3rd Floor, Lakshmi Associates, Gandhi Baza...  ...    3.800000

[5 rows x 15 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (1,5))
df[['Mean Rating']] = scaler.fit_transform(df[['Mean Rating']]).round(2)

In [ ]:
df['reviews_list']=df['reviews_list'].str.lower()

In [ ]:
import string
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))
df["reviews_list"] = df["reviews_list"].apply(lambda text: remove_punctuation(text))

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stop_words])
df["reviews_list"] = df["reviews_list"].apply(lambda text: remove_stopwords(text))

In [ ]:
import re
def removeurls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

df["reviews_list"] = df["reviews_list"].apply(lambda text: removeurls(text))

In [ ]:
df[['reviews_list', 'cuisines']][0:10]

                                        reviews_list                                     cuisines
0  rated 40 ratedn beautiful place dine inthe int...               North Indian, Mughlai, Chinese
1  rated 40 ratedn dinner family turned good choo...                  Chinese, North Indian, Thai
2  rated 30 ratedn ambience good enough pocket fr...                       Cafe, Mexican, Italian
3  rated 40 ratedn great food proper karnataka st...                   South Indian, North Indian
4  rated 40 ratedn good restaurant neighbourhood ...                     North Indian, Rajasthani
5  rated 30 ratedn food 35nambience 35nservice 35...                                 North Indian
6  rated 50 ratedn awesome food great servicefrie...  North Indian, South Indian, Andhra, Chinese
7  rated 50 ratedn personally really liked place ...                         Pizza, Cafe, Italian
8  rated 30 ratedn place one friends small place ...                   Cafe, Italian, Continental
9  rated 40 ratedn easy locatenvfm 355ntaste 55ny...     Cafe, Mexican, Italian, Momos, Beverages

In [ ]:
restaurant_names = list(df['name'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]

In [ ]:
df=df.drop(['address','rest_type', 'type', 'menu_item', 'votes'],axis=1)

In [ ]:
df_percent = df.sample(frac=0.5)

df_percent.set_index('name', inplace=True)
indices = pd.Series(df_percent.index)

In [ ]:
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
def recommend(name, cosine_similarities = cosine_similarities):
    recommendations = []
    idx = indices[indices == name].index[0]
    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
    top30_indexes = list(score_series.iloc[0:31].index)
    for each in top30_indexes:
        recommendations.append(list(df_percent.index)[each])
    df = pd.DataFrame(columns=['cuisines', 'Mean Rating', 'cost'])
    for each in recommendations:
        df = df.append(pd.DataFrame(df_percent[['cuisines','Mean Rating', 'cost']][df_percent.index == each].sample()))
    df = df.drop_duplicates(subset=['cuisines','Mean Rating', 'cost'], keep=False)
    df = df.sort_values(by='Mean Rating', ascending=False).head(10)
    print('TOP %s RESTAURANTS LIKE %s WITH SIMILAR REVIEWS: ' % (str(len(df)), name))   
    return df
recommend('Keto Kitchen')

TOP 10 RESTAURANTS LIKE Keto Kitchen WITH SIMILAR REVIEWS:

                                                                        cuisines  ...    cost
Meghana Foods                             Biryani, Seafood, Andhra, North Indian  ...   600.0
Meghana Foods                                     Biryani, North Indian, Chinese  ...   600.0
Enerjuvate Studio & Cafe       Cafe, Continental, Healthy Food, Sandwich, Piz...  ...   800.0
Cinnamon                                        North Indian, Asian, Continental  ...  1000.0
Raichur Biryani House                             Biryani, North Indian, Chinese  ...   400.0
Pallavi Restaurant                                      Biryani, Chinese, Andhra  ...   500.0
Sri Sai Mango Tree Restaurant                     North Indian, Biryani, Chinese  ...   600.0
Marwa Restaurant                           North Indian, Chinese, Fast Food, BBQ  ...   600.0
Keto Kitchen                                                        Healthy Food  ...   500.0
Hyderabadi Bawarchi                               North Indian, Chinese, Biryani  ...   500.0

[10 rows x 3 columns]

In [ ]:
recommend('Pai Vihar')

TOP 10 RESTAURANTS LIKE Pai Vihar WITH SIMILAR REVIEWS:

                                                                     cuisines  ...    cost
Nando'S                                                   Portuguese, African  ...  1200.0
Mojo Pizza - 2X Toppings                                                Pizza  ...   600.0
Cafe Aladdin                                                    Cafe, Chinese  ...   500.0
Green Pepper                           Seafood, South Indian, Chinese, Kerala  ...   600.0
1992 Chats - Space                                                Street Food  ...   200.0
Chicken Corner                      Biryani, North Indian, Fast Food, Chinese  ...   400.0
Spice Affair                                            North Indian, Chinese  ...   600.0
Hotel Durga Shree Grand      South Indian, North Indian, Chinese, Street Food  ...   200.0
Karavali Family Restaurant  Seafood, Biryani, South Indian, North Indian, ...  ...   500.0
Five Star Chicken                                                   Fast Food  ...   350.0

[10 rows x 3 columns]

In [ ]:
recommend('The Grill House')

TOP 10 RESTAURANTS LIKE The Grill House WITH SIMILAR REVIEWS:

                                                                   cuisines  ...    cost
The Pizza Bakery                                  Italian, Pizza, Beverages  ...  1200.0
Biergarten                       Continental, European, BBQ, Chinese, Asian  ...  2400.0
House Of Commons                           Continental, Asian, North Indian  ...  1000.0
Hammered                     North Indian, South Indian, Continental, Asian  ...  1200.0
Hammered                                    North Indian, Continental, Cafe  ...  1200.0
Koramangala Social             American, North Indian, Chinese, Finger Food  ...  1500.0
Brooks And Bonds Brewery  Continental, Mediterranean, North Indian, Chin...  ...  1600.0
Ciclo Cafe                                          Cafe, Italian, American  ...  1000.0
Double Decker                                     Continental, North Indian  ...  1300.0
Crawl Street                Continental, Finger Food, North Indian, Chinese  ...  1200.0

[10 rows x 3 columns]